<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  
  <title>Document</title>
</head>
<body>
  <p>Hello</p>
  <p>Title: <%=data.title %></p>
  <p>Price: <%=data.price %></p>
  <p>Description: <%=data.description %></p>
  
  <form class="toggle-favourites">
    <input value="<%=data.id%>" type="hidden" name="listing_id" id="listing_id"/>
    <input value="<%=data.user_id%>" type="hidden" name="user_id" id="user_id"/>
    <button type="submit" id="button-submit" >Favourite</button>
  </form>
  <p class="submit-status"></p>
</body>
</html>


