<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createNewListing.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="/scripts/updateListings.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojione/4.5.0/lib/js/emojione.min.js"
    integrity="sha512-E2Ai/A9+KcoBm0lvfnd5krbr7TWUigQGWTfcoMToNpfmCvQKkZdTbpwyIM4PFbCGMtSmMjE/DAXGjVXpWGdFaQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">

      <div class="navbar-brand col" style="
      padding-left: 0px;">
        <a  href="/">
          <img id="logo-image" src="images/logo.png" class="img-rounded">
        </a>
      </div>

      <div class="nav-item nav-link col" id="links">

        <a href=""> MyListings</a>

      </div>
      <div class="col" id="avatar">
        <a href=""> AVATAR</a>
      </div>

    </nav>
  </header>

  <main>
    <!-- <div class='container-fluid'>
      <div class='row'>
        <div class="col-xs-6 col-md-6 col-lg-3 wrapper"> -->

        </div>
        <div id="new-listing" class="col-lg-9 col-md-6">
        <div class="card ml-1 mr-1 col-lg-6 col-md-4" id="main-field">


          <form id="listing-form">
            <label><h4>UPDATE LISTING</h4></label>
            <input type="hidden" class="form-control" id="id" name="id" value="<%= id %>">
            <div class="form-group">
              <label for="Title">Title</label>
              <input class="form-control" id="Title" name="title" aria-describedby="emailHelp" placeholder="Title" value="<%= title %>">
            </div>
            <div class="form-group">
              <label for="listingDescription">Description</label>
              <input class="form-control" id="Description" name="description" placeholder="Description" value="<%= description %>">
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" id="listingPrice" name="price" placeholder="Price" value="<%= price %>" >
            </div>
            <div class="form-group">
              <label for="quantitiy">Quantity</label>
              <input type="number" class="form-control" id="listingQuantitiy" name="quantity" placeholder="Quantity" value="<%= quantity %>">
            </div>
            <div class="form-group">
              <label for="listingPicture">Item picture</label>
              <input type="url" class="form-control" id="listingPicture" name="cover_picture_url" placeholder="Item picture" value="<%= cover_picture_url %>">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Category</label>
              <select class="form-control" id="categorySelect" name="category_id">
                <option value='1'>Fiction</option>
                <option>Non-fiction</option>
                <option>Sci-fi</option>
                <option>Romance</option>
                <option>Finance</option>
              </select>
            </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

        <!-- </div>
      </div>

    </div> -->



  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
